<mat-toolbar color="primary">
  </mat-toolbar>
<div class="quiz container">
  <mat-toolbar color="primary">
    <span>MathQuiz</span>
    <span class="toolbar-spacer"></span>
    <button (click)="exit()" mat-icon-button>
      <mat-icon class="exit-icon" aria-hidden="false" aria-label="delete icon">input</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-list>
        <mat-list-item *ngFor="let item of users$ | async">
          <h3 matLine title="Name">
            {{item.username}}
          </h3>
          <mat-chip-list>
            <mat-chip title="Score" class="mat-chip mat-primary mat-chip-selected" color="primary" selected="true"
              [ngClass]="{'mat-primary mat-chip-selected': (authenticatedUser$ | async)?.username == item.username}">
              {{item.score}}
            </mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <ng-container>
      <mat-toolbar>Current challenge</mat-toolbar>
      <mat-card class="app-card-content">
        <mat-card-title>{{(challenge$ | async)?.question}}</mat-card-title>
        <mat-card-actions>
          <button (click)="sendAnswer(true)" [disabled]="!canSendAnswer()" mat-raised-button color="primary" style="submit">True</button>
          <button (click)="sendAnswer(false)" [disabled]="!canSendAnswer()" mat-button type="button">False</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>

    <mat-toolbar>History</mat-toolbar>
    <mat-card class="app-card-content">
      <mat-card-content>
        <mat-list>
          <ng-container *ngFor="let item of history$ | async; let last = last">
            <mat-list-item>{{item.timestamp | date: 'h:mm:ss a'}} - {{item.message}}</mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-container>
</div>